!!! 5
head
  title Auth0 | Get the enterprise to use your software
  meta(charset='UTF-8')
  link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Open\+Sans:300,600,800')
  link(rel='stylesheet', type='text/css', href='/components/Font-Awesome/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='css/home.css')
  link(rel='stylesheet', type='text/css', href='/components/bootstrap/docs/assets/js/google-code-prettify/prettify.css')
body

  .middle
    .main
      .topbar  
        a.btn(title='follow us on github', href='http://github.com/auth0', target='_blank')
          i.icon-github
        a.btn(title='follow us on twitter',, href='http://twitter.com/authzero', target='_blank')
          i.icon-twitter
      h1.depth(title='Auth0') Auth0
      h2 Get the enterprise to use your software

      .button-bar
        button#sign-up-btn.btn.big(type='button') 
          i.icon-flag 
          |&nbsp;Sign Up for the Beta
      
      #screenshots.carousel.slide
        .carousel-inner
          .item.active(data-explain='one')
            p
              img(src='img/provisioning-step1.png', alt='Connect your app with enterprise authentication systems, using the Provisioning Widget')
          .item(data-explain='two')
            p
              img(src='img/provisioning-step2.png', alt='Choose from different authentication types')
          .item(data-explain='three')
            p
              img(src='img/login-mobile.png', alt='Allow users to sign in with their work credentials or with with social providers')
          .item(data-explain='four')
            p
              img(src='img/querygraph.png', alt='Query the Enterprise Graph')
          .item(data-explain='five')
            p
              img(src='img/users.png', alt='Keep control of everything with the Auth0 Dashboard')

        a.left.carousel-control(href='#screenshots', data-slide='prev') ‹
        a.right.carousel-control(href='#screenshots', data-slide='next') ›

      #explain
        .item-explain.active.one
          article
            h3 Connect your app with your customer's users directory
            p Enable your customers to use their existing authentication infrastructure, with a simple, non-invasive JavaScript based widget. Or use our API for additional flexibility and control in the provisioning process.
          .snippet
            p Provisioning Widget
            pre.prettyprint.language-html
              code
                | &lt;script src="https://sdk.auth0.com/auth0.js#client=...key..." /&gt;
                | ...
                | &lt;button onclick="window.Auth0.showProvisioning('/provisioning')"&gt;Connect with your company&lt;/button&gt;
            p API
            pre.prettyprint.language-bsh
              code
                | curl -d "{ name: 'company', strategy: 'adfs', options: { tenant_domain: 'company.com', adfs_server: 'adfs.company.com' } }" https://api.auth0.com/connections?access_token=...

        .item-explain.two
          article
            h3 Connect your app with your customer's users directory
            p ...You can easily on-board customers using Google Apps, Office365 and Active Directory (more popular identity providers are coming)
          .snippet
            p Provisioning Widget
            pre.prettyprint.language-html
              code
                | &lt;script src="https://sdk.auth0.com/auth0.js#client=...key..." /&gt;
                | ...
                | &lt;button onclick="window.Auth0.showProvisioning('/provisioning')"&gt;Connect with your company&lt;/button&gt;
            p API
            pre.prettyprint.language-bsh
              code
                | curl -d "{ name: 'company', strategy: 'adfs', options: { tenant_domain: 'company.com', adfs_server: 'adfs.company.com' } }" https://api.auth0.com/connections?access_token=...

        .item-explain.three
          article
            h3 Single Sign On for Social and Enterprise
            p Use the Login Widget to quickly integrate SSO into your app, or trigger the login programatically using the protocol (OpenID Connect / OAuth2). We provide quickstarts and samples on all popular platforms (ASP.NET MVC, Windows 8 RT, iOS, Android, Node.js and more)
          .snippet
            p Login Widget
            pre.prettyprint.language-html
              code
                | &lt;script src="https://sdk.auth0.com/auth0.js#client=...key..." /&gt;
                | ...
                | &lt;button onclick="window.Auth0.signIn()"&gt;Sign In&lt;/button&gt;
            p OpenID Connect / OAuth 2
            pre.prettyprint.language-bsh
              code
                | https://yourapp.auth0.com/authorize
                | ?response_type=code
                | &client_id=...your-id...
                | <strong>&connection=...connection-name...</strong>
                | &scope=openid
        .item-explain.four
          article
            h3 Query the Enterprise Graph
            p Query our unified Users API to create meaningful experiences for your enterprise customers.
            | Support for Google Apps and Office365 with a simple consent from the domain administrator.
          .snippet
            p API
            pre.prettyprint.language-bsh
              code
                | curl "https://api.auth0.com/users/company?access_token=..."
                | 
                | [ 
                |   { name: "John Doe", picture: "http://...", email: "johnd@company.com" }, 
                |   { name: "Joan Delgado", picture: "http://...", email: "joandelgado@company.com" }, 
                |   { name: "Jordan Raley", picture: "http://...", email: "jordan@company.com" } 
                | ]
        .item-explain.five
          article
            h3 Auditing and Analytics
            p See who has logged in, how many times and when through the Auth0 web Dashboard.
            | Add, remove, enable/disable connections and troubleshoot errors through the UI or with the API.
          article
            h3 Integrated SDK
            p 
            | Your app will be integrated in minutes.

  .popup
    .overlay(style="display: none;")
      #sign-up.panel
        header
          h1 Sign Up
          a.close(style='display: block;') Close
        .list
          form#sign-up-form(style='display: block;')
            .email
              label(for='email') We will let you know as soon as we go live!
              input#email(name='email', type='email', value='', placeholder='your email', required)
              p.error  
            button.btn(type='submit', style="width: 150px;")
              i.icon-envelope 
              |&nbsp;Sign Up
      #sign-up-done.panel
        header
          h1 Done!
          a.close(style='display: block;') Close
        .list
          p Thank you very much for your interest!
          p We will let you know as soon as we go live.

  script(src='/components/jquery/jquery.min.js')
  script(src='/components/bootstrap/js/bootstrap-carousel.js')
  script(src='/js/home.js')
  script(src='/components/bootstrap/docs/assets/js/google-code-prettify/prettify.js')

  script(type='text/javascript')
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37952868-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

