!!! 5
head
  title Auth0 | Get the enterprise to use your software
  meta(charset='UTF-8')
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open\+Sans:300,800')
  link(rel='stylesheet', type='text/css', href='/components/Font-Awesome/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='css/home.css')
body


  .middle
    .main
      .topbar  
        a.btn(title='follow us on github', href='http://github.com/auth0', target='_blank')
          i.icon-github
        a.btn(title='follow us on twitter',, href='http://twitter.com/auth0', target='_blank')
          i.icon-twitter
      h1.depth(title='Auth0') Auth0
      h2 Get the enterprise to use your software
      br
      .button-bar
        button#sign-up-btn.btn(type='button') 
          i.icon-flag 
          | beta sign up

  .popup
    .overlay(style="display: none;")
      #sign-up.panel
        header
          h1 Sign Up
          a.close(style='display: block;') Close
        .list
          form.strategy.google-apps(style='display: block;')
            .email
              label(for='email') We will send you a notification as soon as we go live!
              input#email(name='email', type='email', value='', placeholder='email')
              p.error  
            button.btn(type='submit', style="width: 150px;")
              i.icon-envelope 
              | Sign Up
  
  script(src='/components/jquery/jquery.min.js')
  script(src='/js/home.js')
