!!! 5
head
  title Auth0 | Get the enterprise to use your software
  meta(charset='UTF-8')
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open\+Sans:300,600,800')
  link(rel='stylesheet', type='text/css', href='/components/Font-Awesome/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='css/home.css')
  link(rel='stylesheet', type='text/css', href='/components/bootstrap/docs/assets/js/google-code-prettify/prettify.css')
body

  .middle
    .main
      .topbar  
        a.btn(title='follow us on github', href='http://github.com/auth0', target='_blank')
          i.icon-github
        a.btn(title='follow us on twitter',, href='http://twitter.com/auth0', target='_blank')
          i.icon-twitter
      h1.depth(title='Auth0') Auth0
      h2 Get the enterprise to use your software

      .button-bar
        button#sign-up-btn.btn.big(type='button') 
          i.icon-flag 
          |&nbsp;Sign Up for the Beta
      
      #screenshots.carousel.slide
        .carousel-inner
          .item.active
            p
              img(src='http://puu.sh/1SVvQ', alt='Connect enterprise authentication with your app with the Provisioning Widget')
            .explain
              article
                h3 Connect your app with your customer's users directory
                p Allow your customers to connect with their authentication of choice, from Google Apps and Office365 to Active Directory, by adding a JavaScript widget and the API 
              .snippet
                p Widget
                pre.prettyprint.language-html
                  code
                    | &lt;script src="https://sdk.auth0.com/auth0.js#client=...key...;"/&gt;
                    | ...
                    | &lt;button onclick="window.Auth0.showProvisioning('/provisioning')"&gt;Connect with your company&lt;/button&gt;
                p API
                pre.prettyprint.language-bsh
                  code
                    | curl -d "{ name: 'company', strategy: 'adfs', options: { tenant_domain: 'company.com', adfs_server: 'adfs.company.com' } }" https://api.auth0.com/connections?access_token=...
          .item
            p
              img(src='http://puu.sh/1SVCV', alt='Select the authentication type to use')
            .explain
              article
                h3 TODO
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam nulla, hendrerit aliquam laoreet a, fermentum a dolor. Nulla eu.
              .snippet
                p Widget
                pre.prettyprint.language-html
                  code
                    | &lt;script src="https://sdk.auth0.com/auth0.js#client=...key...;"/&gt;
                    | ...
                    | &lt;button onclick="window.Auth0.showProvisioning('/provisioning')"&gt;Connect with your company&lt;/button&gt;
          .item
            p
              img(src='http://puu.sh/1SVZa', alt='Allow users to sign in with social providers or using their work email')
            .explain
              article
                h3 TODO
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam nulla, hendrerit aliquam laoreet a, fermentum a dolor. Nulla eu.
              .snippet
                p Widget
                pre.prettyprint.language-html
                  code
                    | &lt;script src="https://sdk.auth0.com/auth0.js#client=...key...;"/&gt;
                    | ...
                    | &lt;button onclick="window.Auth0.showProvisioning('/provisioning')"&gt;Connect with your company&lt;/button&gt;

        a.left.carousel-control(href='#screenshots', data-slide='prev') ‹
        a.right.carousel-control(href='#screenshots', data-slide='next') ›

  .popup
    .overlay(style="display: none;")
      #sign-up.panel
        header
          h1 Sign Up
          a.close(style='display: block;') Close
        .list
          form#sign-up-form(style='display: block;')
            .email
              label(for='email') We will send you a notification as soon as we go live!
              input#email(name='email', type='email', value='', placeholder='email', required)
              p.error  
            button.btn(type='submit', style="width: 150px;")
              i.icon-envelope 
              | Sign Up
      #sign-up-done.panel
        header
          h1 Done!
          a.close(style='display: block;') Close
        .list
          p Thank you very much for your interest.
          p We will let you know as soon as we go live.

  script(src='/components/jquery/jquery.min.js')
  script(src='/components/bootstrap/js/bootstrap-carousel.js')
  script(src='/js/home.js')
  script(src='/components/bootstrap/docs/assets/js/google-code-prettify/prettify.js')
