!!! 5
html(lang='en')
head
    title Auth0 | Get the enterprise to use your software
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='css/home.css')
  body
    .centered
      h1.depth(title='Auth0') Auth0
      h2 Get the enterprise to use your software