!!! 5
head
  title Auth0 | Get the enterprise to use your software
  meta(charset='UTF-8')
  link(rel="shortcut icon", href="/img/logo-small.png")
  link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Open\+Sans:300,600,800')
  link(rel='stylesheet', type='text/css', href='/components/Font-Awesome/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='css/home.css')
  link(rel='stylesheet', type='text/css', href='/components/bootstrap/docs/assets/js/google-code-prettify/prettify.css')
body

  .header
    .header-container
      .logo
      h1.depth(title='Auth0') Auth0
      ul
        li
          a(href='https://docs.auth0.com') Docs
        li
          a(href='http://blog.auth0.com') Blog

  .tagline
    .tagline-container
      h2 Get the enterprise to use your software
      h3 Connect your app with Office365, Google Apps and Active Directory for Single Sign On. Query User Profiles with a simple, unified API. Know who uses your app and when.

  .middle
    .main
      
      #screenshots.carousel.slide
        .carousel-inner
          .item.active(data-explain='one')
            p
              img(src='img/provisioning-step1.png', alt='Connect your app with enterprise authentication systems, using the Provisioning Widget')
            article
              h3 Remove the #1 obstacle for Enterprises to use cloud software: identity integration and Single Sign On
              p Let your customers' use their existing authentication infrastructure, with a simple, non-invasive JavaScript-based widget that works with most common enterprise authentication protocols. 
              p Use our simple API for additional flexibility and control of the provisioning process.
          .item(data-explain='two')
            p
              img(src='img/provisioning-step2.png', alt='Choose from different authentication types')
            article
              h3 Connect your web or mobile app with your customer's users directory
              p On-board customers using Google Apps, Office365 and Active Directory in minutes. 
              p Let Auth0 remove all the pain. Get your app securely federated in minutes.
          .item(data-explain='three')
            p
              img(src='img/login-mobile.png', alt='Allow users to sign in with their work credentials or with with their social identity')
            article
              h3 Single Sign On for Enterprise and Social Identities
              p Use the Login Widget to quickly integrate SSO into your app, or trigger the login programatically using the protocol. 
              p Use the included quickstarts and samples on all popular platforms to get you started quickly: ASP.NET MVC, Windows 8 RT, iOS, Android, Node.js and more.
          .item(data-explain='four')
            p
              img(src='img/querygraph.png', alt='Query the Enterprise Graph')
            article
              h3 Query the Enterprise Graph
              p Query our unified User Profile API to create meaningful experiences for your enterprise customers.
              p Support for Google Apps and Office365 with a simple consent from the domain administrator.
          .item(data-explain='five')
            p
              img(src='img/users.png', alt='Keep control of everything with the Auth0 Dashboard')
            article
              h3 Auditing and Analytics
              p See who has logged in, how many times and when through the Auth0 web Dashboard. 
              p Use our API to customize the your app.
              p Add, remove, enable/disable connections and troubleshoot errors through the UI or with the API.

          .item(data-explain='six')
            .twocols
              h3 Mobile, Native and Web apps intgeration
              p Use our widgets and SDK to get your app on the most popular platforms (e.g. iOS, Windows 8, ASP.NET, node.js), up and running in minutes. Use the REST based API for a more customized experience.
              article
                .snippet
                  p iOS
                  pre.prettyprint.language-objc
                    code
                      | Auth0Client *client = [Auth0Client auth0ClientWithWidget:tenant clientId:"...your-id..." returnUrl:"...callback..."];
                      | [client showInViewController:self allowsClose:NO withCompletionHandler:^(BOOL authenticated) { ... }
                  p Windows 8
                  pre.prettyprint.language-objc
                    code
                      | WebAuthenticationBroker.authenticateAsync(WebAuthenticationOptions.none, 'https://your-app.auth0.com/login/?client=...your-id...&amp;response_type=token', '...callback...');
                p Explore more in the 
                  a(href='https://docs.auth0.com') docs
                  | ...
              article
                .snippet
                  p JavaScript 
                  pre.prettyprint.language-html
                    code
                      | &lt;script src="https://sdk.auth0.com/auth0.js#client=...your-id..." /&gt;
                      | ...
                      | &lt;button onclick="window.Auth0.signIn()"&gt;Sign In&lt;/button&gt;
                  p HTTP
                  pre.prettyprint.language-bsh
                    code
                      | https://yourapp.auth0.com/authorize?response_type=code&connection=...connection-name...</strong>&client_id=...your-id...&scope=openid
                

      #screenshots-pager
        a.one.pager-active(href="#", data-to="one")
          i.icon-circle
        a.two(href="#", data-to="two")
          i.icon-circle-blank
        a.three(href="#", data-to="three")
          i.icon-circle-blank
        a.four(href="#", data-to="four")
          i.icon-circle-blank
        a.five(href="#", data-to="five")
          i.icon-circle-blank
        a.six(href="#", data-to="five")
          i.icon-circle-blank

      #explain(style='display:none')
        .item-explain.active.one
          .snippet
            p Show the provisioning dialog to setup SSO
            pre.prettyprint.linenums.language-html
              code
                | &lt;script src="https://sdk.auth0.com/auth0.js#client=...key..." /&gt;
                | ...
                | &lt;button onclick="window.Auth0.showProvisioning('/provisioning')"&gt;Connect with your company&lt;/button&gt;
            p Use the API to do setup SSO programatically
            pre.prettyprint.language-bsh
              code
                | curl -d "{ name: 'company', strategy: 'adfs', options: { tenant_domain: 'company.com', adfs_server: 'adfs.company.com' } }" https://api.auth0.com/connections?access_token=...

        .item-explain.two
          .snippet
            p Show the provisioning dialog to setup SSO
            pre.prettyprint.linenums.language-html
              code
                | &lt;script src="https://sdk.auth0.com/auth0.js#client=...key..." /&gt;
                | ...
                | &lt;button onclick="window.Auth0.showProvisioning('/provisioning')"&gt;Connect with your company&lt;/button&gt;
            p Use the API to do setup SSO programatically
            pre.prettyprint.language-bsh
              code
                | curl -d "{ name: 'company', strategy: 'adfs', options: { tenant_domain: 'company.com', adfs_server: 'adfs.company.com' } }" https://api.auth0.com/connections?access_token=...

        .item-explain.three
          .snippet
            p Show the login dialog
            pre.prettyprint.linenums.language-html
              code
                | &lt;script src="https://sdk.auth0.com/auth0.js#client=...key..." /&gt;
                | ...
                | &lt;button onclick="window.Auth0.signIn()"&gt;Sign In&lt;/button&gt;
            p ... or trigger login with a link
            pre.prettyprint.language-bsh
              code
                | https://yourapp.auth0.com/authorize?response_type=code&connection=...connection-name...</strong>&client_id=...your-id...&scope=openid
        .item-explain.four
          .snippet
            p API
            pre.prettyprint.linenums.language-bsh
              code
                | curl "https://api.auth0.com/users/company?access_token=..."
                | 
                | [ 
                |   { name: "John Doe", picture: "http://...", email: "johnd@company.com" }, 
                |   { name: "Joan Delgado", picture: "http://...", email: "joandelgado@company.com" }, 
                |   { name: "Jordan Raley", picture: "http://...", email: "jordan@company.com" } 
                | ]
        .item-explain.five

      .button-bar
        button#sign-up-btn.btn.big(type='button') 
          i.icon-flag 
          |&nbsp;Sign Up for the Beta

      .footer
        ul
          li 
            a(title='Follow us on github', href='http://github.com/auth0', target='_blank')
              i.icon-github
          li
            a(title='Follow us on twitter', href='http://twitter.com/authzero', target='_blank')
              i.icon-twitter
          li 
            a(href='mailto:support@auth0.com') Contact Us
          li 
            a(href='#') Terms of Use
          li &copy; Auth10 LLC
      


  .popup
    .overlay(style="display: none;")
      #sign-up.panel
        header
          h1 Sign Up
          a.close(style='display: block;') Close
        .list
          form#sign-up-form(style='display: block;')
            .email
              label(for='email') We will let you know as soon as we go live!
              input#email(name='email', type='email', value='', placeholder='your email', required)
              p.error  
            button.btn(type='submit', style="width: 150px;")
              i.icon-envelope 
              |&nbsp;Sign Up
      #sign-up-done.panel
        header
          h1 Done!
          a.close(style='display: block;') Close
        .list
          p Thank you very much for your interest!
          p We will let you know as soon as we go live.

  script(src='/components/jquery/jquery.min.js')
  script(src='/components/bootstrap/js/bootstrap-carousel.js')
  script(src='/js/home.js')
  script(src='/components/bootstrap/docs/assets/js/google-code-prettify/prettify.js')

  script(type='text/javascript')
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37952868-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

