!!! 5
head
  block title
    title Auth0 | Single Sign On with social and enterprise identities one click away
  block meta
    meta(charset='UTF-8')
  block head
  link(rel="shortcut icon", href="/img/logo-small.png")
  link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Open\+Sans:300,400,600,800')
  link(rel='stylesheet', type='text/css', href='/components/tooltipster/css/tooltipster.css')
  link(rel='stylesheet', type='text/css', href='//www.auth0.com/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='//www.auth0.com/css/bootstrap-responsive.min.css')
  link(rel='stylesheet', type='text/css', href='/components/Font-Awesome/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='/css/home.css')
  link(rel='stylesheet', type='text/css', href='/components/bootstrap/docs/assets/js/google-code-prettify/prettify.css')
  block styles
body

  .header
    .header-container
      a(href='/')
        .logo
        h1.depth(title='Auth0') Auth0
        span for Cloud Apps
      ul
        li
          a(href='/features') Tour
        li
          a(href='/pricing') Pricing
        li
          a(href='http://blog.auth0.com', target='_new') Blog
        li
          a(href='https://docs.auth0.com', target='_new') Docs
        li.buttons
          button.zocial.primary.button.sign-up-btn Sign Up
        li.buttons
          button.zocial.primary.button.sign-in-btn Sign In

  block content
  
  #footer
    .container
        .row
          .span3
            h3 Quick Links
            ul
              li
                a(href='/') Home
              li
                a(href='features') Tour
              li
                a(href='https://docs.auth0.com') Docs
              li
                a(href='http://auth0.com') Auth0 for Enterprise
          .span3
            h3 Company
            ul
              li
                a(href='http://blog.auth0.com') Blog
              li
                a(href='http://auth0.com/about') About Us
              li
                a(href='http://auth0.com/tos') Terms of Use
          .span3
            h3 Connect with us
            ul
              li
                a(href='mailto:support@auth0.com', target='_blank') Write us
              li
                a(href='http://www.linkedin.com/company/auth0', target='_blank') LinkedIn
              li
                a(href='http://twitter.com/authzero', target='_blank') Twitter
              li
                a(href='http://chat.auth0.com', target='_blank') Chat with us
          .span3
            h3 Subscribe
            p Subscribe to our newsletter and stay up to date with the latest news and deals!
            form#subscribe-newsletter
              input#subscribe-email.span3(type='text', placeholder='Your Email', name='subscribe')
              input#subscribe-newsletter.zocial.primary.button(type='submit', value='Subscribe')
    #copywrite
      .container
        .row
          .span12
            p
              | © 2013 Auth0


  block scripts

  script(src='/js/base.js')

  script(src="https://d19p4zemcycm7a.cloudfront.net/w2/auth0-widget-2.2.min.js")
  script(type="text/javascript")
    var widget = new Auth0Widget({
      domain:         'auth0.auth0.com',
      clientID:       'zEYfpoFzUMEzilhkHilcWoNkrFfJ3hAI',
      callbackURL:    'https://app.auth0.com/callback'
    });


  - if (!debug)
    script(type='text/javascript')
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
      d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
      $.src='//v2.zopim.com/?10A9Bn82PCOjUA4Lbn8tKYepDDhAqRoy';z.t=+new Date;$.
      type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');

    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37952868-1']);
      _gaq.push(['_setDomainName', 'auth0.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    script(type='text/javascript')
      var _gauges = _gauges || [];
        (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', '52bb2f718bfdf76f1f003b38');
          t.src = '//secure.gaug.es/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        })();

    script(type='text/javascript', id='inspectletjs')
      var __insp = __insp || [];
      __insp.push(['wid', 1146577500]);
      (function() {
        function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
        if (window.attachEvent){
          window.attachEvent('onload', __ldinsp);
        }else{
          window.addEventListener('load', __ldinsp, false);
        }
      })();
