extends layout

block title
  title Auth0 | Xamarin
block meta
  meta(name='description',content='Single Sign On Xamarin with SAML, Google Apps, Office 365, Active Directory, LDAP, Gmail, Twitter, Facebook, LinkedIn')
  meta(charset='UTF-8')

block content
  .tagline
    .tagline-container
      h2 Single Sign On for Xamarin
      h3 Connect your Xamarin app with your developer or corporate credentials. Use GitHub, Google, Facebook, Twitter, Active Directory, Office365, Google Apps or LDAP for Single Sign On in minutes.

  .middle
    .main
      
      #screenshots.carousel.slide
        .carousel-inner
          .item.active(data-explain='one')
            p
              img(src='img/xamarin.png', alt='Configure Xamarin')
            article
              h3 Authenticate users anywhere with just a few lines of code.
              p Use the Auth0 Component for Xamarin apps and add login to all popular identity systems: consumer or enterprise.  
              p Login with GitHub, Google, Microsoft Account, Amazon, LinkedIn, Facebook or your company systems: Active Directory, LDAP, Google Apps, Office 365, Azure Active Directory or SQL Membership.
              p Retrieve user's profile with the same API regardless of the authentication source. Use Json Web Tokens to protect your backend endpoints. 
              p Support for iOS and Android devices.
 
      //- #screenshots-pager
      //-   a.one.pager-active(href="#", data-to="one")
      //-     i.icon-circle
        
      #start
        .start Start accepting all identies instantly
          button.zocial.primary.button.mid.sign-up-btn Get Started

  .popup
    .overlay(style="display: none;")
      #sign-up.panel
        header
          h1 Sign Up
          a.close(style='display: block;') Close
        .list
          form#sign-up-form(style='display: block;')
            .email
              label(for='email') We will let you know as soon as we go live!
              input#email(name='email', type='email', value='', placeholder='your email', required)
              p.error  
            button.btn(type='submit', style="width: 150px;")
              i.icon-envelope 
              |&nbsp;Sign Up
      #sign-up-done.panel
        header
          h1 Done!
          a.close(style='display: block;') Close
        .list
          p Thank you very much for your interest!
          p We will let you know as soon as we go live.

block scripts
  script(src='https://sdk.auth0.com/auth0.js#client=zEYfpoFzUMEzilhkHilcWoNkrFfJ3hAI&amp;redirect_uri=https://app.auth0.com/callback')
  script(src='/components/jquery/jquery.min.js')
  script(src='/components/bootstrap/js/bootstrap-carousel.js')
  script(src='/js/home.js')
  script(src='/components/bootstrap/docs/assets/js/google-code-prettify/prettify.js')