body {
  width: 100%;
}
body *zoom:1:before,
body *zoom:1:after {
  content: "";
  display: table;
}
body *zoom:1:after {
  clear: both;
}
.zocial,
a.zocial {
  border: 1px solid #777;
  border-color: rgba(0,0,0,0.2);
  border-bottom-color: #333;
  border-bottom-color: rgba(0,0,0,0.4);
  color: #fff;
  -moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  -webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  -webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  cursor: pointer;
  display: inline-block;
  font: bold 100%/2.1 "Lucida Grande", Tahoma, sans-serif;
  padding: 0 0.95em 0 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}
.zocial:before {
  content: "";
  border-right: 0.075em solid rgba(0,0,0,0.1);
  float: left;
  font: 120%/1.65 zocial;
  font-style: normal;
  font-weight: normal;
  margin: 0 0.5em 0 0;
  padding: 0 0.5em;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -moz-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
  -webkit-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
  -webkit-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
  box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
.zocial:active {
  outline: none;
/* outline is visible on :focus */
}
.zocial.icon {
  overflow: hidden;
  max-width: 2.4em;
  padding-left: 0;
  padding-right: 0;
  max-height: 2.15em;
  white-space: nowrap;
}
.zocial.icon:before {
  padding: 0;
  width: 2em;
  height: 2em;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.zocial {
  background-image: -moz-linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1));
  background-image: -ms-linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1));
  background-image: -o-linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.1)), color-stop(49%, rgba(255,255,255,0.05)), color-stop(51%, rgba(0,0,0,0.05)), to(rgba(0,0,0,0.1)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.1)), color-stop(0.49, rgba(255,255,255,0.05)), color-stop(0.51, rgba(0,0,0,0.05)), color-stop(1, rgba(0,0,0,0.1)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0, rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1) 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0, rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.1) 0, rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0, rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,0.1) 0, rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1) 100%);
}
.zocial:hover,
.zocial:focus {
  background-image: -moz-linear-gradient(rgba(255,255,255,0.15) 49%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.15));
  background-image: -ms-linear-gradient(rgba(255,255,255,0.15) 49%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.15));
  background-image: -o-linear-gradient(rgba(255,255,255,0.15) 49%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.15));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), color-stop(49%, rgba(255,255,255,0.15)), color-stop(51%, rgba(0,0,0,0.1)), to(rgba(0,0,0,0.15)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.15) 49%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.15));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.49, rgba(255,255,255,0.15)), color-stop(0.51, rgba(0,0,0,0.1)), color-stop(1, rgba(0,0,0,0.15)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 49%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.15) 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.15) 49%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.15) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.15) 49%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.15) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.15) 49%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.15) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,0.15) 49%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.15) 100%);
}
.zocial:active {
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,0.1));
  background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,0.1));
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,0.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,0.1));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.1)), color-stop(30%, rgba(255,255,255,0)), color-stop(50%, transparent), to(rgba(0,0,0,0.1)));
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,0.1));
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255,255,255,0.1)), color-stop(0.3, rgba(255,255,255,0)), color-stop(0.5, transparent), color-stop(1, rgba(0,0,0,0.1)));
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0.1) 0, rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,0.1) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0.1) 0, rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,0.1) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,0.1) 0, rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0.1) 0, rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(bottom, rgba(255,255,255,0.1) 0, rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,0.1) 100%);
}
a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.3)), color-stop(1, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0, rgba(255,255,255,0) 100%);
  background: linear-gradient(top, rgba(255,255,255,0.3) 0, rgba(255,255,255,0) 100%);
  background-color: #e8ebef;
  background-image: url("/img/cream_dust.png");
  font-family: 'Open Sans', 'HelveticaNeue';
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
button {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.zocial.button {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #546b66;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 auto;
  padding: 0px 5px;
  width: auto;
}
.zocial.button.sign-in-btn {
  background-color: #64847d;
}
.zocial.button.big {
  padding: 8px 18px;
  font-size: 16px;
  display: block;
}
.zocial.button.mid {
  display: inline;
  margin-left: 20px;
  padding: 6px 8px;
  font-size: 14px;
}
.middle {
  margin-top: 50px;
  max-width: 968px;
  margin: 0 auto;
}
.main {
  margin-top: 40px;
}
.main .carousel {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  float: none;
}
.main .carousel .item {
  height: 496px;
}
.main .carousel .item .twocols .sdk {
  margin-top: 50px;
}
.main .carousel .item .twocols article {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.91666666666667% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.main .carousel .item .twocols h3 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-top: 0px;
  line-height: 2.5em;
  color: #526863;
  font-weight: 600;
}
.main .carousel .item p {
  display: inline;
  float: left;
  overflow: hidden;
  width: 56.25%;
  margin: 0 1.0416666666666665%;
  *width: 56.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-left: 1.0416666666666665%;
}
.main .carousel .item p img {
  cursor: pointer;
}
.main .carousel .item article {
  color: #73968e;
  margin-bottom: 10px;
  display: inline;
  float: left;
  overflow: hidden;
  width: 39.58333333333333%;
  margin: 0 1.0416666666666665%;
  *width: 39.58333333333333% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-top: 80px;
}
.main .carousel .item article h3 {
  margin-top: 0px;
  line-height: 1.3em;
  color: #526863;
  font-weight: 600;
}
.main .carousel .item article p {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  line-height: 1.5em;
  margin-bottom: 10px;
  margin-left: 0px;
}
.main .carousel .item .snippet {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.main .carousel .item .snippet pre {
  text-align: left;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.main .carousel .item .snippet p {
  margin-top: 0px;
  padding: 5px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;
  color: #526863;
  background-color: #eee;
  border-top: 1px solid #e1e1e8;
  border-left: 1px solid #e1e1e8;
  border-right: 1px solid #e1e1e8;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.main .button-bar {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
}
.main .button-bar button {
  display: inline;
  float: left;
  overflow: hidden;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  *width: 31.25% -correction;
  *margin: 0 1.0416666666666665% -correction;
  margin-left: 34.375%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.main .overlap {
  margin-top: -310px;
}
.main #screenshots-pager {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main #screenshots-pager a {
  color: #526863;
  font-size: 15px;
  text-decoration: none;
  margin: 3px;
}
#quotes {
  display: inline-block;
  border-top: 1px solid #e2e2e2;
  padding: 50px;
}
#quotes blockquote {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.91666666666666% -correction;
  *margin: 0 1.0416666666666665% -correction;
  border: 0;
  color: #3d4349;
  font-size: 22px;
  font-weight: 500;
  color: #526863;
  padding: 20px;
  line-height: 30px;
}
#quotes blockquote .author {
  font-weight: 300;
  font-size: 14px;
  margin-left: 10px;
}
#quotes blockquote img {
  display: inline;
  float: left;
  overflow: hidden;
  width: 14.583333333333334%;
  margin: 0 1.0416666666666665%;
  *width: 14.583333333333334% -correction;
  *margin: 0 1.0416666666666665% -correction;
  width: 75px;
  position: relative;
  left: -15px;
  top: 2px;
}
#logos {
  border-top: 1px solid #e2e2e2;
  padding: 30px;
}
#logos .logos {
  height: 56px;
  background-repeat: no-repeat;
  background-image: url("/img/logos-bw.png");
}
#logos .logos.color {
  background-image: url("/img/logos-color.png");
}
#start {
  border-top: 1px solid #e2e2e2;
  padding: 40px;
  text-align: center;
  color: #617571;
  font-size: 18px;
}
#footer {
  padding: 20px 0;
  background: none repeat scroll 0 0 #f1f1f1;
  border-top: 1px solid rgba(0,0,0,0.1);
  color: #566d68;
}
#footer h3 {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  color: #73c68f;
}
#footer ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#footer li {
  padding: 0 0 5px;
}
#footer a {
  font-size: 14px;
  color: #566d68;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#footer a:hover {
  padding-left: 5px;
  text-decoration: underline;
  color: #333;
}
.depth {
  display: block;
  color: #425551;
  position: relative;
  width: 240px;
  margin: 0 auto;
}
.depth:before,
.depth:after {
  content: attr(title);
  color: rgba(255,255,255,0.1);
  position: absolute;
}
.header {
  background-color: #fdfdfd;
  background-image: url("/img/cream_dust.png");
  height: 76px;
}
.header-container {
  max-width: 1170px;
  margin: 0 auto;
}
.header-container ul {
  float: right;
  margin-top: 25px;
}
.header-container ul li {
  display: inline;
  margin: 20px;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
}
.header-container ul li a {
  color: #999;
  text-decoration: none;
}
.header-container ul li a:hover {
  color: #000;
}
.header-container ul li.buttons {
  margin: 5px;
}
.header h1 {
  float: left;
  font-size: 2em;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 16px;
  width: auto;
}
.header h1 a {
  color: #526863;
}
.header span {
  font-size: 18px;
  margin-left: 10px;
  float: left;
  margin-top: 27px;
  color: #64847d;
  font-weight: 600;
}
.header .logo {
  background: url("/img/logo-small.png") 0 50% no-repeat;
  width: 40px;
  height: 76px;
  float: left;
  margin-left: 10px;
  margin-top: -2px;
}
.tagline {
  background-color: #64847d;
  -webkit-box-shadow: inset 0 2px 6px rgba(0,0,0,0.34);
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.34);
  -webkit-box-shadow: inset 0 2px 6px rgba(0,0,0,0.34);
  -moz-box-shadow: inset 0 2px 6px rgba(0,0,0,0.34);
  -o-box-shadow: inset 0 2px 6px rgba(0,0,0,0.34);
  border-bottom: solid 10px #425551;
}
.tagline h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #bad8c4;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}
.tagline .tagline-container {
  max-width: 968px;
  margin: 0 auto;
  padding: 40px;
}
.tagline .overlap {
  height: 315px;
}
h2 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  color: #fff;
  text-align: center;
}
.depth:before {
  top: 1px;
  left: 1px;
}
.depth:after {
  top: 2px;
  left: 2px;
}
.popup .overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
  font-weight: 200;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #000;
  background: rgba(0,0,0,0.8);
  background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
  background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
  background: -ms-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
  background: radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 400ms opacity ease;
  -moz-transition: 400ms opacity ease;
  -o-transition: 400ms opacity ease;
  -ms-transition: 400ms opacity ease;
  transition: 400ms opacity ease;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.popup .overlay form {
  margin: 30px;
  position: relative;
  z-index: 5;
}
.popup .overlay form label {
  display: block;
  color: #7f8899;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 7px 0;
  text-shadow: 0 1px 0 #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup .overlay form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  padding: 10px 12px;
  border: 1px solid #b4becd;
  border-top-color: #b0baca;
  border-bottom-color: #d3d9e2;
  -webkit-box-shadow: inset 0 1px 2px rgba(130,137,150,0.23), 0 1px 0 rgba(255,255,255,0.85);
  box-shadow: inset 0 1px 2px rgba(130,137,150,0.23), 0 1px 0 rgba(255,255,255,0.85);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #000;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial Geneva, sans-serif;
}
.popup .overlay .panel.active {
  display: block;
}
.popup .overlay .panel {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 300px;
  width: 500px;
  margin-top: -150px;
  margin-left: -250px;
  background: #eaeef1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1f4f6), color-stop(1, #eaeef1));
  background-image: -webkit-linear-gradient(top, #f1f4f6 0, #eaeef1 100%);
  background-image: -moz-linear-gradient(top, #f1f4f6 0, #eaeef1 100%);
  background-image: -o-linear-gradient(top, #f1f4f6 0, #eaeef1 100%);
  background-image: -ms-linear-gradient(top, #f1f4f6 0, #eaeef1 100%);
  background-image: linear-gradient(top, #f1f4f6 0, #eaeef1 100%);
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.4), 0 10px 27px rgba(0,0,0,0.7);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.4), 0 10px 27px rgba(0,0,0,0.7);
  overflow: hidden;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  font-family: sans-serif;
}
.popup .overlay .panel header {
  display: block;
  background: #fff;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  padding: 0;
  margin: 0;
}
.popup .overlay .panel header h1 {
  padding: 18px 20px;
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: bold;
  border-bottom: 1px solid #dde3e6;
}
.popup .overlay .panel header a {
  display: block;
  overflow: hidden;
  text-indent: 200%;
  position: absolute;
  width: 12px;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  padding: 5px;
  z-index: 5;
}
.popup .overlay .panel header a.close {
  height: 12px;
  background: url("https://d19p4zemcycm7a.cloudfront.net/sdk/img/close.png") 50% 50% no-repeat;
  -webkit-background-size: 12px 12px;
  -moz-background-size: 12px 12px;
  background-size: 12px 12px;
  right: 19px;
  top: 21px;
  cursor: pointer;
}
.popup .overlay .panel .list {
  margin: 30px;
  position: relative;
  z-index: 5;
}
.popup .overlay.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.carousel a {
  color: #fff;
}
.carousel .item a {
  color: #29ce5d;
}
.carousel-caption {
  position: static;
  background: transparent;
}
.carousel-control {
  text-decoration: none;
  line-height: 26px;
  border: 0;
}
.carousel .item > p,
.carousel-caption p {
  font: 14px/23px 'Open Sans', sans-serif;
  text-shadow: #fff 0 1px 0;
  color: #333;
  text-align: center;
}
.center-align {
  text-align: center;
}
code {
  font-family: Consolas, Monaco, Menlo, "Courier New", monospace;
  font-size: 13px;
}
.planOptionsWrap {
  text-align: center;
  margin-bottom: 63px;
}
#plan-options {
  display: inline-block;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
  box-shadow: 0 1px 0 rgba(255,255,255,0.05);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
}
#plan-options li {
  border: solid 1px #1c1f22;
  border-top: solid 1px #181b1f;
  border-bottom: solid 1px #1c1f23;
  float: left;
  background-color: #34383e;
}
#plan-options li:first-child {
  border-right: solid 1px #1b1e22;
}
#plan-options li:first-child,
#plan-options li:first-child label {
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
}
#plan-options .lastChild,
#plan-options .lastChild.active,
#plan-options .lastChild a {
  border-left: none;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
}
#plan-options a {
  border-top: solid 1px 212529px;
  color: #fff;
  display: block;
  font-weight: 700;
  height: 29px;
  line-height: 2.3em;
  min-width: 128px;
  text-shadow: 0 1px 1px #292c32;
  padding: 0 15px;
}
#plan-options a span {
  color: #7b818b;
  font-weight: 400;
  text-shadow: 0 1px 0 #2a2e33;
}
#plan-options .active {
  border: solid 1px #1c1f23;
  border-top: solid 1px #1c1f23;
  background-color: #25292e;
}
#plan-options .active a {
  border-top-color: #212529;
  text-shadow: 0 1px 1px #1d2125;
}
#plans ul {
  margin-left: 25px;
}
#plans strong {
  font-weight: 600;
}
#plans .planItem {
  background: #fbfbfc;
  display: inline-table;
  height: 400px;
  margin-right: -4px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 312px;
  z-index: 5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 9px rgba(0,0,0,0.25);
  box-shadow: 0 1px 9px rgba(0,0,0,0.25);
}
#plans .planItem h3 {
  background: rgba(66,85,81,0.56);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 2.5em;
  height: 2.3em;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
#plans .featured {
  border: 3px solid #425551;
  padding-bottom: 1em;
  z-index: 10;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: -13px -10px 0;
}
#plans .featured h3 {
  background: #425551;
  line-height: 2.2em;
}
#plans .details {
  padding: 0;
  margin: 0;
  height: 360px;
}
#plans .details .pricing {
  background: #f7f8f9;
  border-bottom: solid 1px #e3e3e3;
  margin-bottom: 0.3em;
  overflow: hidden;
  text-align: center;
  padding: 1.1em 1.5em;
}
#plans .details .pricing strong {
  color: #282c32;
  font-size: 1.9em;
  font-weight: 700;
  line-height: 1.1em;
  position: relative;
}
#plans .details .pricing span {
  color: #7e848e;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
}
#plans .details .pricing .signup .signupInfo {
  color: #7e848e;
  display: block;
  font-size: 0.8em;
  line-height: 1.7em;
  padding-top: 0.3em;
}
#plans .details .dItem {
  list-style-type: none;
  font-size: 1.1em;
  line-height: 1.2em;
  text-align: left;
  position: relative;
  margin: 20px 60px;
  margin-right: 50px;
}
#plans .details .dItem i {
  position: absolute;
  color: #425551;
  left: -30px;
  top: 2px;
  font-size: 16px;
}
#plans .details .dItem .help {
  position: relative;
  top: 0;
  left: 0;
  color: #7f858f;
  opacity: 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10000)";
  filter: alpha(opacity=10000);
  font-size: 13px;
}
#plans .details .dItem strong {
  font-weight: 600;
  margin-right: 5px;
}
#plans .details .dItem span {
  font-size: 14px;
  font-weight: 300;
  color: #222;
}
#plans .free {
  margin: 30px auto;
  text-align: center;
  font-weight: 300;
}
#plans .buttons {
  text-align: center;
  padding: 1em 0;
}
#plans .buttons .button span {
  height: 30px;
  line-height: 30px;
  padding: 0 1.5em;
}
#plans .buttons .info {
  color: #7e848e;
  display: block;
  font-size: 0.85em;
  padding-top: 0.3em;
}
.features span {
  background: #fff;
  display: inline-block;
  padding: 0 0.5em;
  z-index: 10;
}
.features h2 {
  font-size: 1.25em;
  font-weight: normal;
  color: #7e848e;
  position: relative;
}
.features h2::before {
  background: #ebebeb;
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  top: 0.55em;
  z-index: -1;
}
.questions-container {
  border-top: 1px solid #ebeff6;
  background-color: #f7faff;
  color: #7e848e;
  padding-bottom: 100px;
  min-height: 520px;
}
.questions-container .questions {
  max-width: 968px;
  margin: 0 auto;
  padding: 40px;
}
.questions-container .questions .question_column {
  padding: 0 50px;
  width: 384px;
  float: left;
}
.questions-container .questions .question_column .question {
  font-size: 16px;
  line-height: 26px;
  color: #8a92a5;
  font-weight: 400;
}
.questions-container .questions .question_column .question h4 {
  color: #70798f;
  font-weight: 600;
  font-size: 17px;
  padding: 45px 0 6px 0;
}
#copywrite p {
  padding: 10px 0;
  margin: 0;
}
#copywrite {
  background: none repeat scroll 0 0 #526863;
  color: #c3e2cd;
}
#totop {
  cursor: pointer;
}
#features {
  margin-top: 30px;
  margin-bottom: 40px;
}
#features .img-circle {
  margin-bottom: 14px;
}
#features h2 {
  color: #64847d;
  line-height: 60px;
}
