/////////////////
// Semantic.gs // for Stylus: http://learnboost.github.com/stylus/
/////////////////

// Defaults which you can freely override
columnWidth = 60px
gutterWidth = 20px
columns = 12

// Utility variable — you should never need to modify this
_gridSystemWidth = (columnWidth + gutterWidth) * columns

// Set @totalWidth to 100% for a fluid layout
totalWidth = _gridSystemWidth

// Correcting percentage-to-pixel rounding errors in IE6 & 7
// See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html
// Override @min with the minimum width of your layout
minWidth = 960
correction = (((0.5 / minWidth) * 100) * 1%)

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
clearfix()
 *zoom:1

  &:before,
  &:after
    content:""
    display:table

  &:after
    clear:both


//////////
// GRID //
//////////

body
  width 100%
  clearfix()

row(columns = columns)
  display block
  width totalWidth * ((gutterWidth + _gridSystemWidth ) / _gridSystemWidth)
  margin 0 totalWidth * (((gutterWidth * 0.5) / _gridSystemWidth ) * - 1)
  *width totalWidth * ((gutterWidth + _gridSystemWidth ) / _gridSystemWidth)-correction
  *margin 0 totalWidth * (((gutterWidth * 0.5) / _gridSystemWidth ) * - 1)-correction

column(x, columns = columns)
  display inline
  float left
  overflow hidden
  width totalWidth * ((((gutterWidth + columnWidth ) * x) - gutterWidth) / _gridSystemWidth)
  margin 0 totalWidth * ( (gutterWidth * 0.5) / _gridSystemWidth)
  *width totalWidth * ((((gutterWidth + columnWidth ) * x) - gutterWidth) / _gridSystemWidth)-correction
  *margin 0 totalWidth * ( (gutterWidth * 0.5) / _gridSystemWidth)-correction

offset(offset = 1)
  margin-left totalWidth*(((gutterWidth+columnWidth)*offset + (gutterWidth*0.5))/_gridSystemWidth)
